body {
    background: url('https://i.imgur.com/w4sbl2W.png');

    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.content {
    align-items: center;
    
    background-color: #f0f0f5; 
    border-radius: 8px;
    margin: 80px auto;
    padding: 64px;
    max-width: 900px;
    box-sizing: border-box;
}

h1 {
    font-weight: 900;
}

.title{
    display: flex;

    font-size: 50px;

    text-align: center;
    justify-content: center;
}

.headerBox{
    text-align: center;
    justify-content: center;
}

#dinena{
    margin-right: 5px;
}

.elencoText{
    margin-top: 10px;

    display: flex;

    font-size: 10px;

    align-items: center;
    justify-content: center;
    text-align: center;

    box-sizing: border-box;
}


.nextPodcast{
    margin-top: 50px;
}


.podButtons{
    margin-left: 5px;
}

#por{
    margin-right: 5px;
}

#cast{
    color: red;
}

#elenco{
    color: red;
}

.possiveisDuvidas{
    margin-top: 50px;
}

#participarTitle{
    color: red;
}

#podcastLegenda{
    color: red;
    font-weight: bolder;
}

img{
    border-radius: 8px;
}

a{
    font-size: 20px;
    font-family: 'Archivo', sans-serif;

    text-decoration: none;

    color: red;
}

.feedback-Form {
    margin-left: 400px;
    margin-top: 300px;


    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
}

.feedback-Form h1{
    margin-top: 0;
}

.bg-modal{
    width: 100%;
    height: 300%;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
  }

  .modal-content{
    width: 500px;
    height: 350px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
  }

  .close{
    margin-left: 250px;
    margin-top: 10px;

    position: absolute;
    top: 0;
    left: 230px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .texto{
      margin-top: 10px;
  }

  textarea {
    font-family: 'Lato', sans-serif;
  }

  .enviarFeedback{
        width: 260px;
        height: 56px;
        margin-top: 40px;
        background-color: red;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 400ms;
        border: 0;
  }

  .feedButtonAppear{
    width: 260px;
    height: 56px;
    background-color: red;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 400ms;
    border: 0;
  }

  .feedback-box{
      margin-top: 30px;
  }

  #feedbackText{
      padding: 10px;
  }

  .redText {
      color: red;
  }

  .feebackBoxTitle{
      display: flex;

      margin-left: 100px;
  }

  #feedbackBoxTitleFeedback {
      margin-left: 10px;
  }

  #thankFeedback {
      margin-left: 50px;
  }

  #thankFeedbackName {
      margin-left: 5px;
  }

  li{
    list-style-type: none;
  }

  #meusCreditos {
      align-items: center;
      justify-content: center;
      text-align: center;

      font-size: 15px;
      font-weight: bold;

      display: flex;
  }

  #meuNome {
      font-size: 15px;

      margin-left: 5px;
      font-weight: bold;
  }

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 500px;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(0, 0, 0);

    border-radius: 8px;

    margin-left: 290px;
    margin-top: 785px;
  }

  .pod-container:hover .overlay {
    opacity: .7;
  }

  .podButton {
    height: 25px;
    width: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .spotifyIcon {
      margin-left: 50px;
  }

  .overlay-2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 500px;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(0, 0, 0);

    border-radius: 8px;

    margin-left: 290px;
    margin-top: 1203px;
  }

  .pod-container-2 {
      margin-top: 50px;
  }

  .pod-container-2:hover .overlay-2 {
    opacity: .7;
  }

  .podButton {
    height: 25px;
    width: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #podTitle {
      color: red;
  }

  .twitchAlertText {
      color: red;

      font-size: 15px;
      font-weight: bolder;

  }


  .spotifyIcon {
      margin-right: 15px;
  }